<div class="app">
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <h2>Workflow</h2>
        </a>

        <div class="collapse navbar-collapse" id="navbarToggle" *ngIf="user">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        <i class="fa fa-user text-primary"></i>
                        {{user.profile.name}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" (click)="logOff()">
                        <i class="fa fa-sign-out"></i>
                        Log off
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid app-body">
        <router-outlet></router-outlet>
    </div>
</div>