$brand-primary: #D72027;
$blue-primary: #2c98ce;

// override bootstrap

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// font

$font-size-base: .9rem;

// buttons

$btn-default-bg:  #e8e8e8;

$btn-primary-color: #fff;
$btn-primary-bg: $blue-primary;
$btn-primary-border: $blue-primary;

// links
$link-color:            $blue-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

//nav bar

$navbar-padding-y: 0;
$navbar-padding-x: 2rem;

$nav-item-margin:               .2rem !default;
$nav-item-inline-spacer:        1rem !default;
$nav-link-padding:              1.5rem 1rem;
$nav-link-hover-bg:             $gray-lighter !default;
