@import './_global';
@import '../../node_modules/bootstrap/scss/bootstrap';

html, body, .app, .app-body {
    height: 100%;
    @extend %primary-font;
}

.app-body {
    padding: 4rem;
}

nav {
    background-color: #fff;
}
.navbar-nav {
  .nav-link {
    transition: background-color .5s;
    font-size: 13px;
    color: #63676B;
    letter-spacing: 0.5px;
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
      background-color: $gray-lighter;
      color: white;
    }
  }
}

.nav-link {
    text-transform: uppercase;
    &.active {
        border-bottom: $brand-primary 3px solid;
    }
}

.title {
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 1.5rem;
    @extend %headline-font;
}

.table {
    background-color: #fff;
}

.row {
    padding: 1rem 0;
}

.card {
    padding: 10px;
}

hr {
    width: 100%;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #133B77;
  padding-left: 0;
  padding-right: 0;

  .nav {
      margin-bottom: 20px;

      .nav-link {
        padding: .5rem 1rem .5rem 2rem;
        border-radius: 0;
        color: #fff;
        /* Nav Item: */
        font-size: 12px;
        letter-spacing: 1.3px;
        -webkit-font-smoothing: antialiased;

        &.active {
            border-left: $brand-primary .2rem solid;
            padding-left: 1.8rem;
            border-bottom: none;
            font-weight: 700;
        }
      }
  }
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

// buttons

.btn {
  padding-top: .5em;
  padding-bottom: .5em;
  cursor: pointer;
  font-size: 1em;
}

// .btn-primary {
//   background-color: $blue-primary;
//   border-color: $blue-primary;
// }
