<div class="row">
    <div class="col-6">
        <h3 class="title" *ngIf="record._id">Request</h3>
        <h3 class="title" *ngIf="!record._id">Create a new Purchase Request</h3>
    </div>
</div>

<form (ngSubmit)="save()" [formGroup]="form" name="purchaseRequestForm">
    <div class="row">
        <fieldset class="col-6">
            <legend class="subhead">
                Request
            </legend>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" [(ngModel)]="record.description" formControlName="description" class="form-control" />
                <div class="alert alert-danger" *ngIf="form.get('description').hasError('required') && form.get('description').touched">
                    Request description is required
                </div>
            </div>
            <div class="form-group">
                <label for="requestDate">Request Date</label>
                <input type="text" [(ngModel)]="record.requestDate" formControlName="requestDate" class="form-control" readonly />
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="col-9">
            <legend class="subhead">
                Items
            </legend>

            <div class="table-responsive">
                <table class="">
                    <tr>
                        <th>Description</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                    <tr>
                    <tr *ngFor="let item of record.items">
                        <td>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="item.description" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="item.unitCost" class="form-control" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="item.quantity" class="form-control" />
                            </div>
                            </td>
                        <td>
                            <div class="form-group">
                                <input type="text" [(ngModel)]="item.cost" class="form-control" />
                            </div>
                        </td>
                    </tr>

                </table>
                <button class="float-right btn" (click)="addItem()">Add Item</button>
            </div>


            <button type="submit" class="float-right btn" [ngClass]="saveClass" [disabled]="form.invalid">{{ saveText }}</button>
        </fieldset>
    </div>
</form>
