<div class="row">
    <div class="col-8">
        <h3 class="title">Purchase Requests</h3>
        <hr/>
        <ul class="requests-list">
            <li class="requests-list--item" *ngFor="let request of requests | async">
                <a routerLink="/requests/{{request._id}}">{{request.description}} | {{request.requestDate}}</button>
            </li>
            <li *ngIf="!(requests | async)?.length">
                No purchase requests found.
            </li>
        </ul>
    </div>
</div>