<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/requests/list" routerLinkActive="active">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/requests/create" routerLinkActive="active">Create Request</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>