<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h2 *ngIf="!user" class="login__title">Log in to Meteor Workflow</h2>
                <div class="card" *ngIf="!user">
                    <div class="card-block">
                        <form name="loginForm" (submit)="login(email, password)" *ngIf="mode === 'login'">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="email" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                            </div>
                            <button type="button" type="submit" class="btn btn-block btn-primary">Log in</button>
                        </form>

                        <form name="signUpForm"  *ngIf="mode === 'signup'">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="name" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name" required>
                            </div>
                            <button type="button" class="btn btn-block btn-primary" (click)="register(email, password, name)">Create Account</button>
                        </form>

                        <form name="forgotForm" *ngIf="mode === 'forgot'">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="email" required>
                            </div>
                            <button type="button" class="btn btn-block btn-primary" (click)="forgotPassword(email)">Send Email</button>
                        </form>
                        <div class="login-footer">
                          <br />
                          <br />
                          <a href="javascript:void(0);" *ngIf="mode === 'login'" (click)="changeMode('signup')">Sign up</a>
                          <a href="javascript:void(0);" *ngIf="mode !== 'forgot'" (click)="changeMode('forgot')">Forgot Password?</a>
                          <a href="javascript:void(0);" *ngIf="mode !== 'login'" (click)="changeMode('login')">Back to Login</a>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="user">
                    <div class="card-block">
                        <h4>Welcome {{user.profile ? user.profile.name : 'user'}}!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
