@import '../../../styles/_global';
.container {
    margin-top: 10%;
}

.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // todo: Make this a global override?
    .card {
        border-radius: 0;
    }

    &__title {
      @extend %headline-font;
      margin: 1rem 0;
      color: #fff;
      text-align: center;
      -webkit-font-smoothing: antialiased;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        background-image: linear-gradient(#2950D7 0%, #1224EB 100%);
    }
}

.login-footer {
  margin-top: 2rem;

  text-align: center;

  a {
    margin-left: 20px
  }

  &__title {
    @extend %headline-font;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #64686C;
  }
}
